body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calendar {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2, h3 {
    color: #3498db;
}